@charset "UTF-8";

.container {
	display: flex;
	flex-direction: column;
	font-family: papyrus;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;	
}

input, label {
	display: block;
	margin: auto;
	margin-bottom: 5px;
}

.form {
	text-align: center;
	border: solid 2px black;
	width: 500px;
	font-size: 18pt;
	padding: 10px;
}

button {
	font-family: papyrus;
	background-color: red;
	font-weight: bold;
	font-size: 14pt;
}
